gui:
 # Use the mocha catppuccin theme
 theme:
   activeBorderColor:
     - '#8bd5ca'
     - bold
   inactiveBorderColor:
     - '#a5adcb'
   optionsTextColor:
     - '#8aadf4'
   selectedLineBgColor:
     - '#363a4f'
   selectedRangeBgColor:
     - '#494d64'
   cherryPickedCommitBgColor:
     - '#8bd5ca'
   cherryPickedCommitFgColor:
     - '#ed8796'
   unstagedChangesColor:
     - '#cad3f5'
   defaultFgColor:
     - '#eed49f'
   searchingActiveBorderColor:
     - '#b7bdf8'
