#Text editor to open config file.
PREFERRED_EDITOR=${EDITOR-nvim}

#This toggle controls whether the options menu is shown during the game.
#Acceptable values: yes, no
LEGEND_TOGGLE=yes

#This toggle controls whether the word definitions appear or not.
#Acceptable values: yes, no
DEFINITION_TOGGLE=yes

#Level of difficulty, concerning word length.
#Acceptable values: easy (4 letter words), medium (4 letter and 5 letter words), hard (5 letter words).
DIFFICULTY=easy

#Timer toggle: Select to play against the clock or not
#Acceptable values: on, off.
TIMER_TOGGLE=off

# This value decides the time limit to find the word.
#Acceptable values: min 1, max 30.
TIME_LIMIT=15

# This value decides the number of words after which available time to solve the riddle (TIME_LIMIT) reduced by 1 second.
#Acceptable values: min 0 (no time reducing), max 30.
LEVEL_UP=5
